/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #image-preview img,
 #photo-preview img {
   display: block; 
   max-width: 100%;
   max-height: 118px; /* Set a maximum height for the preview */
   margin: 0 auto; /* Center the image horizontally */
 }
 /* app/assets/stylesheets/application.css or app/assets/stylesheets/application.scss */
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the gap between images */
}

.image-gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Add rounded corners to images */
}

.image-gallery a {
  flex: 1 0 30%; /* Adjust the width of each image based on your design */
  text-decoration: none;
  color: inherit;
}


.video-iframe {
  max-width: 100%;
}

.cloudinary-video {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
